.favorites {
  &__btn {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 20;
    top: 20px;
    right: 20px;
    padding: 0;
  }

  &__icon {

    width: 24px;
    height: 24px;
  }


}

