.home__content {

  grid-area: homeContent;

  &-inner {
  }

  &-slider {
    width: 100%;
  }
}

.popular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: auto;
  grid-gap: 15px;
  justify-content: center;
}

