.basket {
  max-width: 960px;
  margin: 0 auto;


  &__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: auto;
    max-height: 100%;

    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
  }

  &__header {
  }

  &__content {
    width: 100%;
    padding: 24px;
  }

  &__title {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
  }

  &__img {
    text-align: center;
    color: #0b6623;
  }

}


@media (max-width: 768px) {
  .basket {
    &__inner {
      padding: 10px;
    }
    &__content {
      padding: 10px;
    }
  }
}


