.productNav {
  z-index: 2;
  margin-bottom: 20px;
  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: var(--bg-white);
  }

  &__list-item {
  }

  &__list-item + &__list-item {
    margin-left: 20px;
  }

  &__list-link{
    font-size: 16px;
    color: var(--link-gray-light);
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background: var(--bg-success);
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: width .2s linear;
    }

    &:hover {
      color: var(--text-success);

      &::after {
        width: 100%;
      }
    }
  }
}
