.product {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 0;

  &__photo {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
  }

  &__content {
    padding: 0 24px;
  }

  &__content-inner {
  }

  &__photoBox {
    margin: 0 auto;
    width: 610px;
    position: relative;
    overflow: hidden;
    padding: 0 0 80% 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__list-photo {
    margin-top: 10px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
  }

  &__list-itemPhoto + &__list-itemPhoto {
    margin-top: 10px;
  }

  &__list-itemPhoto {
    width: 92px;
    position: relative;
    overflow: hidden;
    padding: 0 0 60% 0;
    flex-shrink: 0;
  }

  &__list-photoImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }


  &__title {
    font-size: 28px;
    font-weight: 600;
  }

  &__price {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
  }

  &__list-size {
    margin-top: 24px;
    display: flex;
  }

  &__list-itemSize {
    margin-bottom: 24px;
  }

  &__list-sizeBtn {
    border: 1px solid #e0e0e0;
    font-size: 16px;
    color: #333333;

    &:hover {
      border-color: #00a046;
    }
  }

  &__list-sizeBtnDisable {
    background: linear-gradient(
                    150deg, #fafafa 0, #fafafa 49%, #999 50%, #fafafa 51%, #fafafa 100%);
    border: 1px dashed #e0e0e0;
    font-size: 16px;
    color: #333333;
    cursor: auto;
  }

  &__list-itemSize + &__list-itemSize {
    margin-left: 10px;
  }


  &__table-size {
    margin-top: 24px;
    span {
      color: #00a046;
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: 24px;
    background-color: #00a046;

    &-inCart {
      background-color: #f5f5f5;
      color: #000000;
      border: 1px solid #00a046;
    }
  }


  &__description {
    margin-top: 24px;
  }
}

.active {
  border-color: #00a046;

}
