.dashboard {

  &__inner {
  }

  &__list {
  }

  &__list-item {
  }

  &__list-item + &__list-item {
    margin-top: 10px;
  }

  &__list-btn {
    border: 1px solid var(--bg-gray-light);
    font-size: 16px;
    color: var(--bg-gray-dark);
  }
}
