.footerInfo {
  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item + &__list-item {
    margin-left: 15px;
  }

  &__list-item {
  }
  &__list-link{
    color: var(--link-gray-dark);
  }
}
