.footer{
  box-shadow: inset 0px 1px 5px rgba(var(--bg-rgb), var(--alpha-rgb-50)), 0px 1px 5px rgba(var(--bg-rgb), var(--alpha-rgb-50));
  &__inner{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .footer__inner{
    flex-direction: column-reverse;
  }
}
