.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
        "header"
        "main"
        "footer";
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  background: var(--bg-white);

  &__white {
    background: var(--bg-white);
    transition: background 0.2s linear;
  }

  &__dark {
    background: var(--bg-dark);
    color: var(--text-white);
    transition: background 0.2s linear;

    a {
      color: var(--link-white);;
    }

    .auth__form-input {
      background-color: var(--bg-white);

    }

    .btn {
      color: var(--text-white);
    }

    .social__list-icon {
      fill: var(--bg-white);
    }

    .drag {
      box-shadow: 0 14px 28px rgba(var(--bg-rgb-secondary), var(--alpha-rgb-25)), 0 10px 10px rgba(var(--bg-rgb-secondary), var(--alpha-rgb-25));
    }
  }
}

.content {
  grid-area: main;
}

