@import "./assets/scss/null.scss";
@import "./assets/scss/global.scss";
@import "./assets/scss/vars.scss";

$orange_color: #ffa900;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.2;
  color: $black_color;
  background: $white_color;
  scroll-behavior: smooth;
  min-width: 320px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
